body {
    font-family: Arial;
    text-align: center;
    background: #121212;
    color: white;
}

.light-mode {
    background: #f4f4f4;
    color: black;
}

h1 {
    margin: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    width: 350px;
}

.light-mode .card {
    background: white;
}